:root {
  --primary: #f4f5f0;
  --secondary: #4c5cb8;
  --third-color: #000022;
  --fourth-color: #121113;
  --button-width: 150px;
  --card-height: 450px;
  --card-height-hidden: 300px;
}

.container {
  display: grid;
  grid-template-rows: auto auto;
  background-color: var(--primary);

  padding-right: 20px;
}

.blog-page-title {
  font-size: 4em;
  text-align: left;
  margin: 0;
  font-family: 'Playfair Display', serif;
  color: var(--secondary);
  background-color: var(--primary);
}

.post-list {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(5, calc(20% - 10px));
  gap: 2px;
  align-items: start;
  background-color: var(--primary);
  padding-left: 6%;
  padding-right: 2%;
}

.post-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
}

.post-card img {
  width: 100%;
  height: auto;
  max-height: 300px;
  min-height: 300px; 
  object-fit: cover;
  max-width: 250px;
  min-width: 200px;
}

.post-card h3 {
  text-align: left;
  width: 75%;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--secondary);
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;

}

.post-card h4 {
  text-align: left;
  font-size: x-small;
  width: 100%;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--secondary);
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.post-list-content {
  text-align: left;
  font-size: x-small;
  width: 100%;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--secondary);
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}


.post-card .button-style {
  display: flex;
  justify-content: center;
  margin-top: auto;
  width: 100%;
}

.post-card button {
  border: 2px solid var(--secondary);
  border-radius: 5px;
  color: var(--secondary);
  background-color: var(--primary);
  transition: background-color 0.3s, color 0.3s;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

.post-card button:hover {
  background-color: var(--secondary);
  color: var(--primary);
}
